.ant-select-item-option-disabled {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.85) !important;
  cursor: pointer !important;
  transition: background 0.3s ease;
}
.ant-message {
  z-index: 1000 !important;
}
.ant-select-dropdown{
z-index: 1 !important;
}